@{
    ViewBag.Title = "Администраторская панель";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<ul>
    <li><a asp-controller="Admin" asp-action="Index">Администраторская панель</a></li>
    <li><a asp-controller="Admin" asp-action="GetUsers">Администрирование пользователей</a></li>
</ul>