@using Agrahim.Infrastructure.Entities

@if (User.IsInRole(UserEntity.RoleAdmin))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Админ</a>
    </li>
}

