@model IList<Agrahim.Infrastructure.Entities.OrderEntity>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

<ul>
@foreach (var order in Model)
{
    <li>Id: @order.Id Кто заказал @order.UserName, сколько заказал @order.Count</li>
}
</ul>
