@model IEnumerable<Agrahim.Common.DTOs.CropsTypeDto>
@{
    ViewBag.Title = "Типы культур";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<div>
    <a class="btn btn-outline-success" asp-area="Admin" asp-controller="CropsTypes" asp-action="Create">Создать</a>
</div>

<div class="mt-1">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var cropsType in Model)
        {
            <tr>
                <td>@cropsType.Id</td>
                <td>@cropsType.Name</td>
                <td>@(cropsType.IsRemoved ? "Неактивен" : "Действует")</td>
                <td>
                    <a
                        class="btn btn-outline-danger"
                        asp-area="Admin"
                        asp-controller="CropsTypes"
                        asp-action="Disable"
                        asp-route-id=@cropsType.Id>
                        <i class="fa fa-ban"></i>
                    </a> 
                    <a 
                        class="btn btn-outline-info" 
                        asp-area="Admin" 
                        asp-controller="CropsTypes" 
                        asp-action="Update"
                        asp-route-id=@cropsType.Id>
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>